@model WebThuVien.Models.TacGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TacGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotenTG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuocTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuocTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiThieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiThieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TacGia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
